{% if site.plingverify != "" %}
  <meta name="ocs-site-verification" content="{{ site.plingverify }}">
{% endif %}
{% if site.googleverify != "" %}
  <meta name="google-site-verification" content="{{ site.googleverify }}">
{% endif %}
{% if site.bingverify != "" %}
  <meta name="msvalidate.01" content="{{ site.bingverify }}">
{% endif %}
{% if site.pinverify != "" %}
  <meta name="p:domain_verify" content="{{ site.pinverify }}">
{% endif %}
{% if site.dailyverify != "" %}
  <meta name="dailymotion-domain-verification" content="{{ site.dailyverify }}">
{% endif %}
{% if site.yandexverify != "" %}
  <meta name="yandex-verification" content="{{ site.yandexverify }}">
{% endif %}
{% if site.nortonverify != "" %}
  <meta name="norton-safeweb-site-verification" content="{{ site.nortonverify }}">
{% endif %}
{% if site.alexaverify != "" %}
  <meta name="alexaVerifyID" content="{{ site.alexaverify }}">
{% endif %}
{% if site.wotverify != "" %}
  <meta name="wot-verification" content="{{ site.wotverify }}">
{% endif %}
{% if site.specificverify != "" %}
  <meta name="specificfeeds-verification-code" content="{{ site.specificverify }}">
{% endif %}