// Load font and document prep
body {
  margin: 1em 4em;
  @media (max-width: 480px) { margin: 1em 1em; }
  font-family: 'Inter', sans-serif;
  @media (prefers-color-scheme: dark) {
    background: #000;
    color: #fff;
    footer p a { color: #fff; }
  }
}

// Navigation
.nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  cursor: default;
  padding-left: 4px; // Gives a little space in while not scrunching "About Us" text
  * {
    cursor: default;
  }
  h1 {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      display: block;
      :hover { cursor: pointer; }
    }
    img { 
      display: block;
      border: none !important;
    }
  }
  a {
    color: #000;
    @media (prefers-color-scheme: dark) { color: #fff; }
    background: none;
  }
  a:hover {
    color: #8887e4;
    transition: color 200ms ease-in-out;
  }
}
nav {
  ul {
    flex: 0 0 auto;
    text-align: left;
    display: flex;
    margin-top: 2.5em;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      :first-child { margin-left: 0; }
      a {
        cursor: pointer;
        padding: 0 0.8em;
        font-size: .9em;
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        color: #8887e4;
        text-decoration: underline;
        transition: all 250ms ease;
      }
      :last-child { a { padding-right: 0; } }
    }
  }
}

// Header
.top_alt { .text { text-align: center; } }
.top {
  .text { 
    margin-left: 20em;
    margin-bottom: 1em;
    @media(max-width: 1000px) { margin-left: 10em; }
    @media (max-width: 480px) { margin-left: 2.5em; }
  }
}

// Footer
footer {
  margin-top: 2.5em;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  p {
    font-size: .75em;
    a {
      padding: 0.5em;
      color: #000;
    }
    a:hover {
      color: #8887e4;
      transition: all 250ms ease;
    }
  }
}

// Content
.content {
  margin: 5em 5em;
  a {
    color: #000;
    @media (prefers-color-scheme: dark) { color: #fff; }
  }
  a:hover {
    color: #8887e4;
    transition: all 250ms ease;
  }
}

// Sections
.section {
  margin: 5em 20em;
  @media(max-width: 1000px) { margin: 5em 10em; }
  @media (max-width: 480px) { margin: 2em 2em; }
  h2 { margin-bottom: -.25em; }
  h4 {
    color: grey;
    margin-bottom: -1em;
  }
}
::selection { background: #b5b4ee; } // Brighter than dominant to improve readibility

// Images (used in Sections)
.imgs {
  text-align: center;
  a {
    text-decoration: none;
    img {
      width: 400px;
      height: 210px;
      @media(max-width: 900px) {
        width: 242px;
        height: 135px;
      };
      @media(max-width: 480px) {
        width: 242px;
        height: 135px;
      }
    }
  }
}

// Buttons (used in Sections and Content) 
.btn {
  margin-top: .5em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 25vh;
  border-color: #000;
  color: #000;
  transition: background, color 500ms ease-in-out;
  @media(max-width: 900px) { text-align: center; }
  @media(prefers-color-scheme: dark) {
    border-color: #fff;
    color: #fff;
  }
  @media(max-width: 480px) {
    text-align: center;
    padding: 1em 1.5em;
  }
}
.btn:hover {
  background: #000;
  color: #fff;
  @media(prefers-color-scheme: dark) {
    background: #fff;
    color: #000;
  }
}

// Mobile Adjustments
@media (max-width: 480px) {
  h1 { font-size: 28px !important; }
  h2 { font-size: 21px !important; }
  h3 { font-size: 19px !important; }
  .post { h3 { font-size: 14px !important; } }
  h4, h5, h6 { font-size: 16px !important; }
  .tagline, .tagline * { font-size: 30px !important; }

  .sections, .content { margin: 1em 1em; }
}