---
layout: default
---

{% include top_alt.html %}

<div class="section" id="top">
  <div class="text">
    <h4>COMING SOON</h4>
    <h2>Southpine</h2>
    <p>Unusual things are happening in the small town of SouthPine. Jake, a park ranger, goes looking for a missing man in the woods. He finds more than just a missing man...</p>
  </div>
  <div class="imgs">
    <a href="/assets/img/southpine/001.png">
      <img src="/assets/img/southpine/001.png">
    </a>
    <a href="/assets/img/southpine/002.png">
      <img src="/assets/img/southpine/002.png">
    </a>
    <a href="/assets/img/southpine/003.png">
      <img src="/assets/img/southpine/003.png">
    </a>
  </div>
  <a class="btn" href="#story">Learn more</a> <a class="btn" href="/southpine#buy">Pre-Order</a>
</div>
<div class="section" id="story">
  <div class="text">
    <h2>Story-Driven Yet Open-World</h2>
    <p>Southpine may be set in the spooky woods, but that doesn't mean it has to be spooky 24/7. Enter an open-world either solo or with some friends to explore the woods and enjoy the good, the bad, and the ugly together.</p>
  </div>
  <div class="imgs">
    <a href="/assets/img/southpine/004.png">
      <img src="/assets/img/southpine/004.png">
    </a>
    <a href="/assets/img/southpine/005.png">
      <img src="/assets/img/southpine/005.png">
    </a>
    <a href="/assets/img/southpine/006.png">
      <img src="/assets/img/southpine/003.png">
    </a>
  </div>
  <a class="btn" href="#graphics">Learn more</a> <a class="btn" href="/southpine#buy">Pre-Order</a>
</div>
<div class="section" id="graphics">
  <div class="text">
    <h2>A World of Beauty</h2>
    <p>Southpine is built to look beautiful: from the sunset to the water reflections to the trees swaying in the wind. Southpine may have a pest or two, but it's a beautiful place nevertheless.</p>
  </div>
  <div class="imgs">
    <a href="/assets/img/southpine/007.png">
      <img src="/assets/img/southpine/007.png">
    </a>
    <a href="/assets/img/southpine/008.png">
      <img src="/assets/img/southpine/008.png">
    </a>
    <a href="/assets/img/southpine/009.png">
      <img src="/assets/img/southpine/009.png">
    </a>
  </div>
</div>
<div class="section" id="buy">
  <div class="text">
    <h2>Pre-Order Southpine</h2>
    <p>Southpine is coming out in Q4 of 2020.</p>
    <a class="btn" href="">Purchase on GOG</a>
    <a class="btn" href="">Purchase on Steam</a>
    <a class="btn" href="">Purchase on Itch</a>
  </div>
</div>

{% include footer.html %}