<div class="section" id="southpine">
  <div class="text">
    <h4>COMING SOON</h4>
    <h2>Southpine</h2>
    <p>Unusual things are happening in the small town of SouthPine. Jake, a park ranger, goes looking for a missing man in the woods. He finds more than just a missing man...</p>
  </div>
  <div class="imgs">
    <a href="/assets/img/southpine/cover.png">
      <img src="/assets/img/southpine/cover.png">
    </a>
    <a href="/assets/img/southpine/cover.jpg">
    <img src="/assets/img/southpine/cover.jpg">
    </a>
    <a href="/assets/img/southpine/Folder.jpg">
    <img src="/assets/img/southpine/Folder.jpg">
    </a>
  </div>
  <a class="btn" href="/southpine">Learn more</a> <a class="btn" href="/southpine#buy">Pre-Order</a>
</div>